@import '../../colors';

.cardContainer{
    padding: 4rem 0;
    .card{
        font-family: poppins, sans-serif;
        color: #fff;
        background: $backcard;
        border-radius: 30px;
        padding: 0 2.70rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .pokemon{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                margin-top: -4rem;
                margin-bottom:1rem ;
                width:9.21rem ;
                height: 10rem;
                filter: drop-shadow( 1rem 3rem 2rem rgba(0, 0, 0, 0.644));
            }
    
            .name-type{
                display: flex;
            }
        }
    
        .info{
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 2.663rem;
            margin-bottom: 2.53rem;
            .xp{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                :nth-child(2){
                    color:$primary ;
                }
            }
    
            .weight{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                :nth-child(2){
                    color:$primary ;
                }
            }
        }
    
        .id{
            background: $primary;
            color: black;
            text-align: center;
            border-radius: 30px;
            width: 119.34px;
            padding: 7px;
            margin-bottom: -.8rem;
        }
    }
}